* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #84a9c0;
}
h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
}
h1::before {
  content: "❔";
}
h1::after {
  content: "❔";
}

.question-card {
  background-color: #f8ffe5;
  width: 70%;
  height: 30vh;
  min-height: 200px;
  min-width: 375px;
  margin: 10vh auto;
  border: 3px solid black;
  border-radius: 5px;
  position: relative;
}
.question-card__question {
  text-align: center;
  padding: 30px 10px 15px;
}
.question-card__button {
  display: block;
  margin: 12px auto 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.question-card__categories {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.question-card__categories-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: rgb(200, 193, 193);
  border-radius: 4px;
}
.question-card__bookmark-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 35px;
  height: 35px;
}

/* START profile.html only */
.main--profile {
  width: 70%;
  margin: 3vh auto;
}
.user-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
}
.user-info__name {
  align-self: center;
}
.user-info__img {
  border: 5px solid white;
  border-radius: 50%;
  order: -1;
}

.about-me {
  margin-top: 30px;
}
.about-me__description {
}

.counters__heading {
  margin-top: 30px;
  text-align: center;
}
.counters {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
  margin-top: 8px;
}
.counters__questions,
.counters__bookmarks {
  border: 2px solid black;
  padding: 4px;
}

.settings {
  margin-top: 30px;
}
.settings__heading {
  text-align: center;
}
/* END profile.html only */

.navigation__list {
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  border-top: 2px solid black;
}
.navigation__list-item:hover {
  cursor: pointer;
  border: 3px solid blue;
}
.navigation__list-item--current {
  border: 3px solid green;
}
.navigation__list-item__image {
  width: 35px;
  height: 35px;
  margin: 10px 5px;
}
